.listitem {
    height: 12rem;
    width: 22.5rem;
    background: var(--main-color);
    margin-right: .5rem;
    cursor: pointer;
    overflow: hidden;
    color: white;
    margin-bottom: 2rem;

    video{
        width: 100%;
        height: 14rem;
        object-fit: cover;
       
    }

    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &:hover {
        width: 32.5rem;
        height: 30rem;
        position: absolute;
        top: -15rem;
        box-shadow: 0 0px 15px 0 rgba(225,225,225, 0.07);

        img{
            display: none;
        }

        .itemsinfo {
            display: flex;
            flex-direction: column;
            padding: .5rem;

            .icons{
                display: flex;
                margin-bottom: 1rem;

                .icon{
                    border: 2px solid white;
                    padding: .5rem;
                    border-radius: 50%;
                    margin-right: 1rem;
                    font-size: 1.6rem;
                }
            }

            .iteminfotop{
                display: flex;
                align-items: center;
                font-size: 1.4rem;
                margin-bottom: 1rem;font-weight: 600;
                color: grey;

                .limit{
                    border: 1px solid grey;
                    padding: 1px 3px;
                    margin: 0 1rem;
                }
            }
            .desc {
                font-size: 1.3rem;
                margin-bottom: 1rem;
            }
            .genre{
                font-size: 13px;
                color: lightblue;
            }
        }
    }
}

.list{
    width: 100%;
    margin-top: 1rem;

    .listTitle{
        color:white;
        font-weight: 500;
        margin-left: 5rem;
        font-size: 2rem;
    }

    .wrapper {
        position: relative;
        .container {
            margin-top: 1rem;
            margin-left: 5rem;
            display: flex;
            width: max-content;
            transform: translateX(0);
            scroll-behavior: smooth;
            transition: all 1s ease;
        }

        .sliderArrow{
            width: 5rem;
            height: 100%;
            background-color: rgba(22,22,22,.5);
            position: absolute;
            top: 0;
            color:white;
            cursor: pointer;
            z-index: 99;

            &.left{
                left: 0;
            }

            &.right {
                right: 0;
            }
        }
    }
}

