.listitem {
    height: 12rem;
    width: 22.5rem;
    background: #fff;
    margin-right: .5rem;
}

.list{
    width: 100%;
    margin-top: 1rem;

    .listTitle{
        color:white;
        font-weight: 500;
        margin-left: 5rem;
        font-size: 2rem;
    }

    .wrapper {
        position: relative;
        .container {
            margin-top: 1rem;
            margin-left: 5rem;
            display: flex;
            width: max-content;
            transform: translateX(0);
            scroll-behavior: smooth;
            transition: all 1s ease;
        }

        .sliderArrow{
            width: 5rem;
            height: 100%;
            background-color: rgba(22,22,22,.5);
            position: absolute;
            top: 0;
            color:white;
            cursor: pointer;
            z-index: 99;

            &.left{
                left: 0;
            }

            &.right {
                right: 0;
            }
        }
    }
}

