.navbar {
    width: 100%;
    color: white;
    font-size: 1.4rem;
    position: fixed;
    top: 0;
    z-index: 999999;
    background: linear-gradient(to top, transparent 0%, rgba(0,0,0,0.3) 50%);
    transition: all .5s ease;

    &.scrolled {
        background: var(--main-color);
    }

    .container {
        padding: 0 5rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 7rem;
        
        .left {
            display: flex;
            align-items: center;
            img{
                height: 2.5rem;
                margin-right: 4rem;
                cursor: pointer;
            }
            span{
                margin-right: 2rem;
                cursor: pointer;
            }
        }

        .right {
            display: flex;
            align-items: center;

            .icon{
                margin: 0 1.5rem;
                cursor: pointer;
                font-size: 3rem;
            }

            img{
                width: 3rem;
                height: 3rem;
                border-radius: 0.5rem;
                object-fit: cover;
                cursor: pointer;
            }

            .profile {
                .options {
                    display: none;
                    background-color: var(--main-color);
                    border-radius: .5rem;
                }

                span{
                    padding: 1rem;
                    cursor: pointer;
                }
                &:hover {
                    .options{
                        display: flex;
                        flex-direction: column;
                        position: absolute;
                    }
                }
            }
        }
    }
}

